/* The global style sheet. */

body {
	font-family: 'Open Sans',arial,sans-serif;
	font-size: 13px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.alert {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.btn, .btn:focus {
	background-color: #e6e3e9;
	outline: none;
	border: none;
}

.btn:hover, .btn:active {
	background-color: #efefef;
	outline: none;
	border: none;
}

#title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-family: 'Trajan Pro'
}

#form {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	line-height: 26px;
}

.form-name {
	display: block;
}

.input-box {
	display: block;
	vertical-align: bottom;
	width: 300px;
	margin-bottom: 10px;
}

#submit-button {
	display: block;
	margin-left: auto;
	margin-right: 0px;
	width: 120px;
	margin-top: 20px;
	margin-bottom: 100px;
}

.instruction-box {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sub-title {
	padding-top: 30px;
	padding-bottom: 20px;'
}

#example-img {
	width: 100%;
}

.picture-label, .exp-picture-label {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 5px;
}

.instruction-box h4 {
	margin-top: 40px;
	text-align: center;
}

#begin {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	max-width: 300px;
	margin-top: 30px;
	margin-bottom: 150px;
	vertical-align: center;
	text-align: center;
}

#begin[disabled], #begin.disabled {
	pointer-events: none;
}


#experiment-img {
	height: 570px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#center-title {
	text-align: center;
	margin-top: 200px;
}

.results {
	width: 1300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.data-column {
	display: inline-block;
	height: 100%;
	width: 49%;
}

.data-column th {
	background-color: #EEEEEE;
	font-weight: bold;
	text-align: center;
}

.results h2, .results h3 {
	padding-left: 10px;
	margin-top
}



/*-------*/

#experiment-data {
	display: block;
	width: 987px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.data-title {
	text-align: center;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	font-size: 15px;
	background-color: #e6e3e9;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.data {
	display: inline-block;
	width: 300px;
	background-color: #efefef;
	vertical-align: top;
	height: 200px;
	margin-left: 20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-bottom: 15px;
}

ul {
	list-style-type: none;
}

li {
	line-height: 27px;
}

#result-title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}